*.*
!.gitignore
!.gitmodules
!circle.yml
!codecov.yml
!setup.cfg
!colmto/resources/*.yaml
!site/*
!*.txt
!*.py
!*.md
!*.png
!build-sumo-osx.sh
!.pre-commit-config.yaml
!*.coveragerc
docs/build/**/*
!docs/Makefile
!docs/source/**/*.png
!docs/source/**/*.py
!docs/source/**/*.rst
