*.*
!.gitignore
!.gitmodules
!circle.yml
!codecov.yml
!setup.cfg
!colmto/resources/*.yaml
!*.txt
!*.py
!*.md
!*.png
!build-sumo-osx.sh
!.pre-commit-config.yaml
!*.coveragerc
docs/build/**/*
!docs/Makefile
!docs/pylint.sh
!docs/radon.sh
!docs/source/**/*.png
!docs/source/**/*.py
!docs/source/**/*.rst
!docs/source/_static/style.css
!docs/source/_templates/layout.html
